<footer class="ftco-footer ftco-footer-2 ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-footer-logo">Excellence <span> Group of Companies </span></h2>
                    <p style=" text-align: justify; text-justify: inter-word;">Excellence has been the leading company
                        in Kerala. Our efficient services has benefited
                        well-known companies all over the world. Excellence is excellent, We will satisfy your dreams.
                        Job consultants, We will fix it</p>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li class=""><a href="https://twitter.com/ExcellenceTrai6"><span
                                class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/excellencegroupofcompanies"><span
                                class="fa fa-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.instagram.com/excellence_thrissur/"><span
                                class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map marker"></span><span class="text">3rd Floor,Devamatha Tower,St.Thomas College Road,Opposite District Office,Thrissur,Kerala.India 680001 </span>
                            </li>
                            <li><a href="tel://+919633617776"><span class="icon fa fa-phone"></span><span
                                    class="text">+91 9633617776</span></a></li>
                            <li><a href="mailto:excellencegroupofcompanies@gmail.com"><span
                                    class="icon fa fa-paper-plane pr-4"></span><span class="text">excellencegroupofcompanies@gmail.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
