{% extends 'base-admin.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h3>{{ title }}
        <a class="btn btn-primary btn-sm float-right" href="{% url 'month-wise-attendance-list'  month year 'all' %}">Month
            Wise List</a>
    </h3>
    {% if pending %}
        <div class="card">
            <h5 class="card-header" style="color: blue">Pending</h5>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Student</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in pending %}
                        <tr>
                            <td>{{ item.user.get_full_name }}</td>
                            <td>
                                <div class="btn-group-sm">
                                    <a href="{% url 'staff-mark-absent' item.id %}">
                                        <button class="btn btn-danger">Absent</button>
                                    </a>
                                    <a href="{% url 'staff-mark-attendance' item.id %}">
                                        <button class="btn btn-success">Present</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <p class="alert alert-info m-1"> All Attendance marked</p>
    {% endif %}
    <div class="card">
        <h5 class="card-header" style="color: green">Attendance</h5>
        <div class="card-body">
            {% if attendance %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Student</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in attendance %}
                        <tr>
                            <td>{{ item.user.get_full_name }}</td>
                            {% if item.status == 'absent' %}
                                <td style="color: red">{{ item.get_status_display }}</td>
                            {% else %}
                                <td style="color: green">{{ item.get_status_display }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="alert alert-info m-1"> No Data</p>
            {% endif %}
        </div>
    </div>
{% endblock %}