{% extends 'base-admin.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h3>{{ title }}</h3>
    <div class="card">
        <h5 class="card-header" style="color: blue">Pending</h5>
        <div class="card-body">
            {% if pending %}
                <table class="table table-hover" id="pending">
                    <thead>
                    <tr>
                        <th scope="col">Project</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in pending %}
                        <tr>
                            <td>{{ item.service }}</td>
                            <td>
                                <div class="btn-group-sm">
                                    <a href="{% url 'staff-job-reject' item.id %}">
                                        <button class="btn btn-danger">Reject</button>
                                    </a>
                                    <a href="{% url 'staff-job-accept' item.id %}">
                                        <button class="btn btn-success">Accept</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="alert alert-info m-1"> No Data</p>
            {% endif %}
        </div>
    </div>
    <div class="card">
        <h5 class="card-header" style="color: green">Approved</h5>
        <div class="card-body">
            {% if approved %}
                <table class="table table-hover" id="approved">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Service Requested</th>
                        <th scope="col">Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in approved %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.phone_number }}</td>
                            <td>{{ item.get_service_display }} Days</td>
                            <td>{{ item.message }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="alert alert-info m-1"> No Data</p>
            {% endif %}
        </div>
    </div>
    <div class="card">
        <h5 class="card-header" style="color: red">Rejected</h5>
        <div class="card-body">
            {% if rejected %}
                <table class="table table-hover" id="rejected">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Service Requested</th>
                        <th scope="col">Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in rejected %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.phone_number }}</td>
                            <td>{{ item.get_service_display }} Days</td>
                            <td>{{ item.message }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="alert alert-info m-1"> No Data</p>
            {% endif %}
        </div>
    </div>
    {% block extra-js %}
        <script>
            $(document).ready(function () {
                $('#pending').DataTable();
                $('#approved').DataTable();
                $('#rejected').DataTable();
            });
        </script>
    {% endblock %}
{% endblock %}