{% extends 'base-admin.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="card card-body">
            <h3>{{ service.get_service_display }}</h3>
            <br>
            <p><b>Client: </b> {{ service.client.get_full_name }}</p>
            <p><b>In Charge: </b>
                {% if service.staff %}
                    {{ service.staff.get_full_name }}
                {% else %}
                    Not Assigned
                {% endif %} </p>
            <p><b>Start Date: </b> {{ service.start_date | date }}</p>
            <p><b>Status: </b> {% if service.finished %}
                Completed on {{ service.finished | date }}
            {% else %}
                {{ service.status }}
            {% endif %} </p>
            {% if service.finished %}
            {% else %}
                <p><b>Due Date: </b> {{ service.due_date | date }}</p>
            {% endif %}
        </div>
        {% if comments %}
            <div class="card card-body">
                {% for comment in comments %}
                    {% if comment.commented_by.is_client %}
                        <div>
                            <p style="color: green"><i>Client</i></p>
                            <p>{{ comment.suggestion }}</p>
                        </div>
                    {% else %}
                        <div>
                            <p style="color: blueviolet"><i>In Charge</i></p>
                            <p>{{ comment.suggestion }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div>
            <h5>Send comments or suggestions</h5>
            <form action="{% url 'comment-project-view' service.id %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Comment</button>
            </form>
        </div>
{% endblock %}